<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:name="com.tva.cashcoach.infrastructure.application.App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.App.Starting"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.tva.cashcoach.modules.wallets.ui.WalletsActivity"
            android:screenOrientation="locked" />
        <activity
            android:name="com.tva.cashcoach.modules.financialreport.ui.FinancialReportActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.tva.cashcoach.modules.newincome.ui.NewIncomeActivity"
            android:screenOrientation="locked" />
        <activity
            android:name="com.tva.cashcoach.modules.addnewwallet.ui.AddNewWalletActivity"
            android:screenOrientation="locked" />
        <activity
            android:name="com.tva.cashcoach.modules.signupsuccess.ui.SignupSuccessActivity"
            android:screenOrientation="locked" />
        <activity
            android:name="com.tva.cashcoach.modules.homescreencontainer.ui.HomeScreenContainerActivity"
            android:screenOrientation="locked" />
        <activity
            android:name="com.tva.cashcoach.modules.settings.ui.SettingsActivity"
            android:screenOrientation="locked" />
        <activity
            android:name="com.tva.cashcoach.modules.signup.ui.SignUpActivity"
            android:screenOrientation="locked" />
        <activity
            android:name="com.tva.cashcoach.modules.expensedetail.ui.ExpenseDetailActivity"
            android:screenOrientation="locked" />
        <activity
            android:name="com.tva.cashcoach.modules.incomedetail.ui.IncomeDetailActivity"
            android:screenOrientation="locked" />
        <activity
            android:name="com.tva.cashcoach.modules.newexpense.ui.NewExpenseActivity"
            android:screenOrientation="locked" />
        <activity
            android:name="com.tva.cashcoach.modules.forgotpassword.ui.ForgotPasswordActivity"
            android:screenOrientation="locked" />
        <activity
            android:exported="true"
            android:name="com.tva.cashcoach.modules.login.ui.LoginActivity"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tva.cashcoach.modules.settingscurrency.ui.SettingsCurrencyActivity"
            android:screenOrientation="locked" />
        <activity
            android:name="com.tva.cashcoach.modules.accountsetup.ui.AccountSetupActivity"
            android:screenOrientation="locked" />
    </application>
</manifest>
